<div *ngIf="data">
  <div
    class="container-wrapper"
    *ngIf="txState == 'PENDING_CONFIRMATION' || txState == 'ERROR'"
  >
    <div class="container">
      <div class="main-container">
        <nav class="content-top">
          <app-breadcrumb
            [path]="[
              { name: 'vanaheimex', call: 'swap' },
              { name: 'Pools', call: 'pool' },
              { name: 'Deposit', disable: true }
            ]"
            [isError]="error"
            [message]="getMessage()"
            (funcCaller)="goToNav($event)"
          ></app-breadcrumb>
        </nav>
      </div>
      <app-asset-input
        label="Deposit"
        [(selectedAsset)]="data.asset.asset"
        [(assetUnit)]="data.assetAmount"
        [priceInput]="data.assetPrice"
        [disabledAssetSymbol]="data.asset.asset.symbol"
        [balance]="data.assetBalance"
        [hideMax]="true"
        [disableInput]="true"
        [disabledMarketSelect]="true"
        [isDeposit]="true"
      >
      </app-asset-input>
      <app-arrow [isPlus]="true"></app-arrow>
      <app-asset-input
        label="Deposit"
        [(selectedAsset)]="data.rune.asset"
        [(assetUnit)]="data.runeAmount"
        [priceInput]="data.runePrice"
        [disabledAssetSymbol]="data.rune.asset.symbol"
        [balance]="data.runeBalance"
        [hideMax]="true"
        [disableInput]="true"
        [disabledMarketSelect]="true"
        [isDeposit]="true"
      >
      </app-asset-input>
      <div class="swap-details">
        <div class="flex justify-between">
          <span class="tx-detail-label">Rates:</span>
          <span
            >1 {{ data.rune.asset.ticker }} =
            {{ data.assetBasePrice | number: "1.2-4" }}
            {{ data.asset.asset.ticker }}</span
          >
        </div>
        <div class="flex justify-between">
          <span class="tx-detail-label"></span>
          <span
            >1 {{ data.asset.asset.ticker }} =
            {{ data.runeBasePrice | number: "1.2-4" }}
            {{ data.rune.asset.ticker }}</span
          >
        </div>
        <div *ngIf="data.estimatedFee" class="flex justify-between">
          <span class="tx-detail-label">Fees:</span>
          <span
            >{{ data.estimatedFee | number: "0.0-8" }}
            {{ data.asset.asset.ticker
            }}<span *ngIf="data.estimatedFee && data.runeFee"> + </span
            ><span *ngIf="data.runeFee"
              >{{ data.runeFee | number: "0.0-4" }} RUNE</span
            ></span
          >
        </div>
        <div class="flex justify-between">
          <div class="tx-detail-label">
            Estimated Transaction Time:
            <!-- <mat-icon style="transform: scale(.6)" matTooltip="Estimated Confirmation Time is the time it will take for THORChain to process your transaction.">info</mat-icon> -->
          </div>
          <span><{{ estimatedMinutes }} min</span>
        </div>
        <div class="flex justify-between">
          <span class="tx-detail-label">Disclaimer:</span>
          <span>Output is estimated</span>
        </div>
      </div>
      <!-- close dialog -->
      <div class="bottom-actions two-btn">
        <div class="left-btn">
          <button class="close-btn" (click)="closeDialog()">
            <span>Cancel</span>
          </button>
        </div>
        <div class="divider"></div>
        <div class="right-btn">
          <button
            (click)="submitTransaction()"
            class="next-btn"
            [disabled]="loading || insufficientChainBalance"
          >
            <span>Confirm</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="flex flex-col items-center p-8 text-sm" *ngIf="txState === 'ERROR'">
    <mat-icon>warning</mat-icon>
    <span class="mt-4">
      {{error}}
    </span>
  </div> -->

  <app-transaction-ledger-confirm-modal
    *ngIf="txState == 'PENDING_LEDGER_CONFIRMATION'"
  ></app-transaction-ledger-confirm-modal>

  <app-transaction-processing-modal
    *ngIf="txState == 'SUBMITTING'"
    [asset]="[data.asset, data.rune]"
    [label]="['Depositing', 'Depositing']"
    [amount]="[data.assetAmount, data.runeAmount]"
    transactionDetail="Depositing {{ +data.assetAmount | number: '0.0-4' }} {{
      data.asset.asset.ticker
    }} + {{ +data.runeAmount | number: '0.0-2' }} {{ data.rune.asset.ticker }}"
    (closeDialog)="closeDialog()"
    [isPlus]="true"
  >
    <app-breadcrumb
      [path]="[
        { name: 'vanaheimex', call: 'swap' },
        { name: 'Pools', disable: true },
        { name: 'Deposit', disable: true }
      ]"
      message="Transaction Processing"
      (funcCaller)="goToNav($event)"
    ></app-breadcrumb>
  </app-transaction-processing-modal>

  <app-transaction-success-modal
    *ngIf="txState === 'SUCCESS'"
    [chain]="data.asset.asset.chain"
    [hash]="hash"
    [asset]="[data.asset, data.rune]"
    [label]="['Deposited', 'Deposited']"
    [amount]="[data.assetAmount, data.runeAmount]"
    (closeDialog)="closeToPool()"
    [externalTx]="true"
    [isPlus]="true"
    modalType="DEPOSIT"
  >
    <app-breadcrumb
      [path]="[
        { name: 'vanaheimex', call: 'swap' },
        { name: 'Pools', call: 'pool' },
        { name: 'Deposit', call: 'deposit-back' }
      ]"
      message="Success"
      (funcCaller)="goToNav($event)"
    ></app-breadcrumb>
  </app-transaction-success-modal>

  <app-retry-rune-deposit
    *ngIf="txState === 'RETRY_RUNE_DEPOSIT'"
    [asset]="data.asset.asset"
    [assetAmount]="data.assetAmount"
    [runeAmount]="data.runeAmount"
    [user]="data.user"
    [errorMessage]="error"
    [assetBalance]="data.assetBalance"
    (retrySuccess)="runeDepositSuccess($event)"
    (withdrawSuccess)="withdrawSuccess($event)"
    (closeModal)="closeDialog()"
  >
  </app-retry-rune-deposit>
</div>
