<div class="container-wrapper" *ngIf="view !== 'Confirm'">
  <div class="container">
    <!-- <app-section-head sectionTitle="Create Pool" [displayBackBtn]="true" (back)="back()"></app-section-head> -->
    <div *ngIf="view === 'Create'">
      <div class="main-container">
        <nav class="content-top">
          <app-breadcrumb
            [path]="[
              { name: 'skip', call: 'swap' },
              { name: 'Pools', call: 'pool' },
              { name: 'Create', disable: true }
            ]"
            [message]="mainButtonText()"
            (funcCaller)="breadcrumbNav($event)"
          ></app-breadcrumb>
          <div class="top-right"></div>
        </nav>
      </div>
      <div>
        <app-asset-input
          label="Deposit"
          [(selectedAsset)]="asset"
          [(assetUnit)]="assetAmount"
          [balance]="assetBalance"
          [disabledAssetSymbol]="rune.symbol"
          [selectableMarkets]="selectableMarkets"
          [priceInput]="assetUsdValue"
          (lunchMarket)="overlaysService.setCurrentCreatePoolView('Asset')"
          [eventTags]="{
            event_category: 'pool_create', 
            event_label_max: 'tag_deposit_container_max_*ASSET*'
          }"
        >
        </app-asset-input>

        <app-arrow [isPlus]="true"></app-arrow>

        <app-asset-input
          label="Deposit"
          [(selectedAsset)]="rune"
          [(assetUnit)]="runeAmount"
          [balance]="runeBalance"
          [hideMax]="true"
          [disabledMarketSelect]="true"
          [disabledAssetSymbol]="rune.symbol"
          [priceInput]="runeUsdValue"
          [eventTags]="{
            event_category: 'pool_create', 
            event_label_max: 'tag_deposit_container_max_*ASSET*'
          }"
        >
        </app-asset-input>

        <div class="swap-details">
          <div class="flex justify-between">
            <span class="tx-detail-label">Recommended RUNE Total:</span>
            <span *ngIf="recommendedRuneAmount">{{
              recommendedRuneAmount | number: "0.0-0"
            }}</span>
            <span *ngIf="!recommendedRuneAmount">...</span>
          </div>
          <div class="flex justify-between">
            <span class="tx-detail-label">Disclaimer:</span>
            <span>A minimum of 1,000 RUNE + balancing asset is required to create a pool</span>
          </div>
          <div class="flex justify-between">
            <span class="tx-detail-label">Fees</span>
            <span *ngIf="networkFee"
              >{{ networkFee | number: "1.0-6" }} {{ asset.chain }}</span
            >
            <span *ngIf="!networkFee">-</span>
          </div>
          <div class="flex justify-between">
            <span class="tx-detail-label"></span>
            <span *ngIf="runeFee">{{ runeFee | number: "1.0-4" }} RUNE</span>
            <span *ngIf="!runeFee">-</span>
          </div>
        </div>

        <div class="bottom-actions two-btn">
          <div class="left-btn">
            <button class="close-btn" (click)="back()">
              <span>Cancel</span>
            </button>
          </div>
          <div class="divider"></div>
          <div class="right-btn">
            <app-approve-eth-contract
              (approveClicked)="
                overlaysService.setCurrentCreatePoolView('Approve')
              "
              *ngIf="ethContractApprovalRequired"
              [contractAddress]="ethRouter"
              [asset]="asset"
              (approved)="contractApproved()"
            >
            </app-approve-eth-contract>
            <button
              *ngIf="!ethContractApprovalRequired"
              (click)="openConfirmationDialog()"
              class="next-btn graident-btn"
              [disabled]="formDisabled()"
            >
              <span>Create Pool</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div
      class="overlay-container overlay-connect-wallet"
      *ngIf="view === 'Asset'"
    >
      <app-markets-modal
        [(selectedAsset)]="asset"
        [selectableMarkets]="selectableMarkets"
        [disabledAssetSymbol]="rune.symbol"
        (close)="overlaysService.setCurrentCreatePoolView('Create')"
      >
        <app-breadcrumb
          [path]="[
            { name: 'skip', call: 'swap' },
            { name: 'Pools', call: 'pool' },
            { name: 'Create', call: 'create-back' },
            { name: 'SEARCH', disable: true }
          ]"
          message="SELECT"
          (funcCaller)="breadcrumbNav($event)"
        ></app-breadcrumb>
      </app-markets-modal>
    </div>

    <div
      class="overlay-container overlay-connect-wallet"
      *ngIf="view === 'Approve'"
    >
      <app-approve-eth-contract-modal
        [data]="{ asset: asset, routerAddress: ethRouter }"
        (approvedHash)="contractApproved()"
        (close)="overlaysService.setCurrentCreatePoolView('Create')"
        eventCategory="pool_create_approve_contract_approve"
        mode="create pool"
      >
      </app-approve-eth-contract-modal>
    </div>

    <!-- <div class="flex">
        <app-approve-eth-contract
          *ngIf="ethContractApprovalRequired"
          class="w-1/2 mr-2"
          [contractAddress]="ethRouter"
          [asset]="asset"
          (approved)="contractApproved()">
        </app-approve-eth-contract>

        <button
          (click)="openConfirmationDialog()"
          class="main-action-btn"
          mat-flat-button
          color="primary"
          [ngClass]="ethContractApprovalRequired ? 'w-1/2' : 'w-full'"
          [disabled]="formDisabled()">
            {{mainButtonText()}}
        </button>
      </div> -->
  </div>
</div>

<div *ngIf="view === 'Confirm'">
  <app-confirm-pool-create
    [data]="data"
    (close)="close($event)"
  ></app-confirm-pool-create>
</div>
