<!-- <div *ngIf="!selectedChain">
  <div class="modal-head">
    <h1 mat-dialog-title>Select Chain</h1>
  </div>
  <div>
    <div mat-dialog-content>
      <button class="connect-option" (click)="setSelectedChain('BNB')">
        <img class="connect-option__logo" src="http://localhost:4200/assets/images/token-icons/bnb.png" />
        <span>Binance Chain</span>
      </button>
      <button class="connect-option" (click)="setSelectedChain('BTC')" [disabled]="!isTestnet">
        <img class="connect-option__logo" src="https://raw.githubusercontent.com/trustwallet/assets/master/blockchains/binance/assets/BTCB-1DE/logo.png" />
        <span>Bitcoin</span>
      </button>
    </div>
  </div>
</div>

<div *ngIf="selectedChain"> -->
<div style="height: 100%">
  <div *ngIf="!connectionView">
    <div class="content-top">
      <app-breadcrumb
        [path]="[
          { name: 'skip', call: 'swap' },
          { name: 'connect', disable: true }
        ]"
        message="select"
        (funcCaller)="breadcrumbNav($event)"
      ></app-breadcrumb>
    </div>

    <div>
      <div class="keystore-content" mat-dialog-content>
        <!-- Connect Options -->

        <!-- <button class="connect-option" (click)="connectWalletConnect()" [disabled]="true">
          <img class="connect-option__logo" src="assets/images/wallet-connect-icon.svg" />
          <span>Wallet Connect</span>
        </button>

        <button class="connect-option" (click)="connectLedger()" [disabled]="true">
          <img id="ledger-logo" class="connect-option__logo" src="assets/images/ledger/ledger-logo.png" />
          <span>Ledger</span>
        </button> -->
        <button class="connect-option" (click)="createKeystore()">
          <div class="flex item items-center">
            <div class="add-icon">
              <img
                [src]="
                  isTestnet
                    ? '/assets/icons/plus-yellow.svg'
                    : '/assets/icons/plus-green.svg'
                "
                alt="add icon"
              />
            </div>
            <span class="item-text">Create New Keystore</span>
          </div>
        </button>

        <button
        class="connect-option focus:outline-none justify-between"
        (click)="createKeystoreFromPhrase()"
        >
          <div class="flex item items-center">
            <div class="add-icon">
              <img
                [src]="
                  isTestnet
                    ? '/assets/icons/seed-yellow.svg'
                    : '/assets/icons/seed-green.svg'
                "
                alt="folder icon"
              />
            </div>
            <span class="item-text">Create Keystore from phrase</span>
          </div>
        </button>

        <button class="connect-option" (click)="connectKeystore()">
          <div class="flex item items-center">
            <div class="add-icon">
              <img
                [src]="
                  isTestnet
                    ? '/assets/icons/folder-icon-testnet.svg'
                    : '/assets/icons/folder-icon.svg'
                "
                alt="folder icon"
              />
            </div>
            <span class="item-text">Connect To Existing Keystore</span>
          </div>
        </button>

        <button
          class="connect-option focus:outline-none justify-between"
          (click)="connectXDEFI()"
        >
          <div class="flex item items-center">
            <div class="add-icon">
              <img
                [src]="
                  isTestnet
                    ? '/assets/icons/xdefi-icon-testnet.svg'
                    : '/assets/icons/xdefi-icon.svg'
                "
                alt="xdefi icon"
              />
            </div>
            <span class="item-text" *ngIf="isXDEFIConnected"
              >Connect with XDEFI</span
            >
            <span class="item-text" *ngIf="!isXDEFIConnected"
              >Install XDEFI in Chrome/Brave</span
            >
          </div>
        </button>

        <button class="connect-option" (click)="connectMetaMask()">
          <div class="flex item items-center">
            <div class="add-icon">
              <img
              [src]="
                isTestnet
                  ? '/assets/icons/metamask-yellow.svg'
                  : '/assets/icons/metamask-green.svg'
              "
                alt="folder icon"
              />
            </div>
            <span *ngIf="!isXDEFI" class="item-text">Connect with MetaMask</span>
            <span *ngIf="isXDEFI" class="item-text">Disale XDEFI dapps</span>
          </div>
        </button>

        <button class="connect-option" (click)="connectWalletConnect()">
          <div class="flex item items-center">
            <div class="add-icon">
              <img
              [src]="
                isTestnet
                  ? '/assets/images/wallet-connect-icon-testnet.png'
                  : '/assets/images/wallet-connect-icon-mainnet.png'
              "
                alt="folder icon"
              />
            </div>
            <span class="item-text">Connect with Wallet Connect</span>
          </div>
        </button>

        <!-- close dialog -->
      </div>
    </div>
    <div class="bottom-actions">
      <button
        class="close-btn"
        aria-label="Close Connect Wallet"
        (click)="close()"
      >
        <span>cancel</span>
      </button>
    </div>
  </div>

  <!-- KEYSTORE CREATE -->
  <app-keystore-create
    *ngIf="connectionView == 'KEYSTORE_CREATE'"
    (back)="clearConnectionMethod()"
    (keystoreCreated)="storePhrasePrompt($event)"
    (closeModal)="close()"
  ></app-keystore-create>

  <!-- KEYSTORE CREATE - write down phrase prompt -->
  <app-keystore-create-store-phrase
    *ngIf="connectionView == 'KEYSTORE_WRITE_PHRASE'"
    [phrase]="phrase"
    (closeModal)="close()"
    [eventCategory]="writePhraseCategory"
  ></app-keystore-create-store-phrase>

  <!-- KEYSTORE CONNECT -->
  <app-keystore-connect
    *ngIf="connectionView == 'KEYSTORE_CONNECT'"
    (back)="clearConnectionMethod()"
    (closeModal)="close()"
  ></app-keystore-connect>

  <!-- XDEFI CONNECT -->
  <app-xdefi-connect
    *ngIf="connectionView == 'XDEFI'"
    (back)="clearConnectionMethod()"
    (closeModal)="close()"
  ></app-xdefi-connect>

  <!--KEYSTORE IMPORT PHRASE -->
  <app-import-phrase
    *ngIf="connectionView == 'KEYSTORE_IMPORT_PHRASE'"
    (back)="clearConnectionMethod()"
    (closeModal)="close()"
    (keystoreCreated)="storePhrasePrompt($event)"
  ></app-import-phrase>
</div>
