<div class="inner-container">
  <div class="dialog-content">
    <div class="content-top">
      <app-breadcrumb
        [path]="[
          { name: 'skip', call: 'swap' },
          { name: 'Connect', call: 'connect' },
          { name: 'create keystore', disable: true }
        ]"
        [isError]="error || (password !== confirmPassword && confirmPassword)"
        [message]="
          error
            ? 'Error Creating Keystore'
            : (password !== confirmPassword && confirmPassword)
            ? 'PASSWORDS DON\'T MATCH'
            : 'prepare'
        "
        (funcCaller)="breadcrumbNav($event)"
      ></app-breadcrumb>
      <div class="top-right"></div>
    </div>

    <div mat-dialog-content>
      <div class="uni-input">
        <label>Password</label>
        <input
          class="password focus:ring-0"
          [(ngModel)]="password"
          name="keystore-password"
          placeholder=" "
          type="password"
        />
        <span class="pulse-placeholder"></span>
      </div>

      <app-arrow></app-arrow>

      <div class="uni-input">
        <label>Confirm Password</label>
        <input
          class="password focus:ring-0"
          [(ngModel)]="confirmPassword"
          name="confirm-password"
          placeholder=" "
          type="password"
        />
        <span class="pulse-placeholder"></span>
      </div>
    </div>

    <div class="disclaimer">
      <span>
        This will create and download a keystore to your computer. <br />
        Please store this file offline in a safe place.
      </span>
    </div>
  </div>

  <div class="bottom-actions two-btn">
    <div class="left-btn">
      <button class="close-btn" (click)="backNav()">
        <span>cancel</span>
      </button>
    </div>
    <div class="divider"></div>
    <div class="right-btn">
      <!-- <div>
        <span *ngIf="error" style="font-size: 0.8rem; color: #2172e5">Error Creating Keystore</span>
      </div> -->
      <div>
        <button
          class="next-btn"
          (click)="createKeystore()"
          [disabled]="
            !phrase || !password || password != confirmPassword || loading
          "
        >
          <span>Create</span>
        </button>
      </div>
    </div>
  </div>
</div>
