<div *ngIf="userView === 'Addresses'" class="container-wrapper">
  <div class="container">
    <div class="content-top">
      <app-breadcrumb
        [path]="[
          { name: 'skip', call: 'swap' },
          { name: 'wallet', disable: true }
        ]"
        message="select"
        (funcCaller)="breadcrumbNav($event)"
      ></app-breadcrumb>
      <div class="top-right"></div>
    </div>
    <div>
      <div mat-dialog-content>
        <div>
          <div *ngIf="loading" class="icon-container">
            <span>Loading</span>
          </div>

          <div class="wallets" *ngIf="!loading">
            <!-- THORChain -->
            <div class="w-address" *ngIf="thorAddress" (click)="selectAddress(thorAddress, 'THOR')">
              <div class="icon-addr flex-grow">
                <div class="asset-icon-container">
                  <img
                    class="asset-icon"
                    src="/assets/icons/logo-thor-rune.svg"
                  />
                </div>
                <label>THOR</label>
                <span class="chain-address">({{thorAddress.substring(0, 5) + '...' + thorAddress.substring(thorAddress.length - 5, thorAddress.length)}})</span>
              </div>
              <div class="addr flex-grow" style="min-width: initial; margin-left: 0;">
                <span class="chain-usd" *ngIf="chainUsdValue['THOR'] && chainUsdValue['THOR'].value !== 0">{{chainUsdValue['THOR'].value * currecny.value | shortNumber: true}} {{currecny.code}}</span>
              </div>
            </div>

            <!-- Bitcoin -->
            <div class="w-address" *ngIf="bitcoinAddress" (click)="selectAddress(bitcoinAddress, 'BTC')">
              <div class="icon-addr flex-grow">
                <div class="asset-icon-container">
                  <img
                    class="asset-icon"
                    src="https://raw.githubusercontent.com/trustwallet/assets/master/blockchains/binance/assets/BTCB-1DE/logo.png"
                  />
                </div>
                <label>BTC</label>
                <span class="chain-address">({{bitcoinAddress.substring(0, 5) + '...' + bitcoinAddress.substring(bitcoinAddress.length - 5, bitcoinAddress.length)}})</span>
              </div>
              <div class="addr flex-grow" style="min-width: initial; margin-left: 0;">
                <span class="chain-usd" *ngIf="chainUsdValue['BTC'] && chainUsdValue['BTC'].value !== 0">{{chainUsdValue['BTC'].value * currecny.value | shortNumber: true}} {{currecny.code}}</span>
              </div>
            </div>

            <!-- Ethereum -->
            <div class="w-address" *ngIf="ethereumAddress" (click)="selectAddress(ethereumAddress, 'ETH')">
              <div class="icon-addr flex-grow">
                <div class="asset-icon-container">
                  <img
                    class="asset-icon"
                    src="https://raw.githubusercontent.com/trustwallet/assets/master/blockchains/ethereum/info/logo.png"
                  />
                </div>
                <label>ETH</label>
                <span class="chain-address">({{ethereumAddress.substring(0, 5) + '...' + ethereumAddress.substring(ethereumAddress.length - 5, ethereumAddress.length)}})</span>
              </div>
              <div class="addr flex-grow" style="min-width: initial; margin-left: 0;">
                <span class="chain-usd" *ngIf="chainUsdValue['ETH'] && chainUsdValue['ETH'].value !== 0">{{chainUsdValue['ETH'].value * currecny.value | shortNumber: true}} {{currecny.code}}</span>
              </div>
            </div>

            <!-- Binance -->
            <div class="w-address" *ngIf="binanceAddress" (click)="selectAddress(binanceAddress, 'BNB')">
              <div class="icon-addr flex-grow">
                <div class="asset-icon-container">
                  <img
                    class="asset-icon"
                    src="assets/images/token-icons/bnb.png"
                  />
                </div>
                <label>BNB</label>
                <span class="chain-address">({{binanceAddress.substring(0, 5) + '...' + binanceAddress.substring(binanceAddress.length - 5, binanceAddress.length)}})</span>
              </div>
              <div class="addr flex-grow" style="min-width: initial; margin-left: 0;">
                <span class="chain-usd" *ngIf="chainUsdValue['BNB'] && chainUsdValue['BNB'].value !== 0">{{chainUsdValue['BNB'].value * currecny.value | shortNumber: true}} {{currecny.code}}</span>
              </div>
            </div>

            <!-- Litecoin -->
            <div class="w-address" *ngIf="litecoinAddress" (click)="selectAddress(litecoinAddress, 'LTC')">
              <div class="icon-addr flex-grow">
                <div class="asset-icon-container">
                  <img
                    class="asset-icon"
                    src="https://raw.githubusercontent.com/trustwallet/assets/master/blockchains/litecoin/info/logo.png"
                  />
                </div>
                <label>LTC</label>
                <span class="chain-address">({{litecoinAddress.substring(0, 5) + '...' + litecoinAddress.substring(litecoinAddress.length - 5, litecoinAddress.length)}})</span>
              </div>
              <div class="addr flex-grow" style="min-width: initial; margin-left: 0;">
                <span class="chain-usd" *ngIf="chainUsdValue['LTC'] && chainUsdValue['LTC'].value !== 0">{{chainUsdValue['LTC'].value * currecny.value | shortNumber: true}} {{currecny.code}}</span>
              </div>
            </div>

            <!-- Bitcoin Cash -->
            <div class="w-address" *ngIf="bchAddress" (click)="selectAddress(bchAddress, 'BCH')">
              <div class="icon-addr flex-grow">
                <div class="asset-icon-container">
                  <img
                    class="asset-icon"
                    src="https://raw.githubusercontent.com/trustwallet/assets/master/blockchains/bitcoincash/info/logo.png"
                  />
                </div>
                <label>BCH</label>
                <span class="chain-address">({{bchAddress.substring(0, 5) + '...' + bchAddress.substring(bchAddress.length - 5, bchAddress.length)}})</span>
              </div>
              <div class="addr flex-grow" style="min-width: initial; margin-left: 0;">
                <span class="chain-usd" *ngIf="chainUsdValue['BCH'] && chainUsdValue['BCH'].value !== 0">{{chainUsdValue['BCH'].value * currecny.value | shortNumber: true}} {{currecny.code}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- close dialog -->
      <div class="bottom-actions">
        <div>
          <button class="close-btn" (click)="close()">
            <span>close</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-user-address
  *ngIf="userView === 'Address'"
  [chain]="selectedChain"
  [address]="selectedAddress"
  [pools]="pools"
  (back)="clearSelectedAddress()"
  (navigateToAsset)="selectAsset($event)"
  (navigateToAddToken)="setMode('ADDRESS_ADD_TOKEN')"
>
</app-user-address>

<app-user-address-add-token
  *ngIf="userView === 'ADDRESS_ADD_TOKEN'"
  [chain]="selectedChain"
  [chainAddress]="selectedAddress"
  (back)="setMode('Address')"
>
</app-user-address-add-token>

<app-user-asset
  *ngIf="userView === 'Asset'"
  [asset]="selectedAsset"
  [address]="selectedAddress"
  (back)="clearSelectedAsset()"
  (send)="setMode('Send')"
  (upgradeRune)="mode = 'UPGRADE_RUNE'"
  (deposit)="mode = 'DEPOSIT'"
>
</app-user-asset>

<app-send-asset
  *ngIf="userView === 'Send'"
  [asset]="selectedAsset"
  (confirmSend)="confirmSend($event)"
  (back)="setMode('Asset')"
>
</app-send-asset>

<app-confim-send
  *ngIf="userView === 'Confirm'"
  [amount]="amountToSend"
  [recipientAddress]="recipient"
  [memo]="memo"
  [asset]="selectedAsset"
  [memo]="memo"
  (back)="setMode('Send')"
  (close)="setMode('Asset')"
  (transactionSuccessful)="transactionSuccessful()"
>
</app-confim-send>
