// .pending-tx-btn {
//   color: rgb(21, 163, 111);
//   padding-bottom: 1rem;
// }

// .container {
//   &.pending {
//       border: 2px solid #F3BA2F;
//   }

//   &.submit {
//       border: 2px solid #00CCFF;
//   }

//   &.success {
//       border: 2px solid #FFF;
//   }
// }

.user-address {
  cursor: pointer;
  // border: 1px solid rgba(255, 255, 255, 0.02);

  input {
    cursor: pointer;
  }

  &:hover {
    // border: 1px solid white;
    background: var(--primary-default);

    label,
    input {
      color: #000;
    }
  }
}

.chain-usd {
  align-items: center;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 22px;
  color: var(--primary-grey-color);
  line-height: 30px;
  margin-left: 5px;
}

.chain-address {
  font-family: 'Roboto Mono';
  font-weight: 600;
  font-size: 14px;
  margin: 4px 0 0 4px;
}
