<div class="inner-container">
  <div class="dialog-content">
    <div class="content-top">
      <app-breadcrumb
        [path]="[
          { name: 'skip', disable: true },
          { name: 'Connect', disable: true },
          { name: 'create keystore', disable: true }
        ]"
        [isError]="true"
        message="secure your seed phrase"
      ></app-breadcrumb>
      <div class="top-right"></div>
    </div>

    <div mat-dialog-content>
      <app-phrase-words-list [phrase]="phrase"></app-phrase-words-list>
    </div>

    <div class="swap-details" style="color: var(--primary-red)">
      <div style="margin-bottom: 5px; font-size: 14px">
        Your keystore file has been sucessfully downloaded to your device. Store
        it in a safe place.
      </div>
      <div style="margin-bottom: 5px; font-size: 14px">
        This phrase is your access to your wallet and funds. Write it down and
        store it in a safe place.
      </div>
      <div style="margin-bottom: 5px; font-size: 14px">
        Do not share it with anyone. SKIP never stores your keystore or
        phrase anywhere.
      </div>
      <div>
        This phrase is the only way to recover funds if your keystore file is
        lost.
      </div>
    </div>

    <div class="bottom-actions">
      <button class="next-btn" (click)="confirm()">
        <span>I Understand</span>
      </button>
    </div>
  </div>
</div>
