<div class="inner-container">
  <div class="dialog-content">
    <div class="content-top">
      <app-breadcrumb
        [path]="[
          { name: 'skip', disable: true },
          { name: 'Connect', disable: true },
          { name: 'create keystore', disable: true }
        ]"
        [isError]="true"
        message="secure your seed phrase"
      ></app-breadcrumb>
      <div class="top-right"></div>
    </div>

    <div mat-dialog-content>
      <app-phrase-words-list [phrase]="phrase"></app-phrase-words-list>
    </div>

    <div class="descriptive" style="color: var(--primary-red)">
      Your keystore file has been sucessfully downloaded to your device. Store
      it in a safe place.
      <br/>This phrase is your access to your wallet and funds. Write it down and
      store it in a safe place.
      <br/>Do not share it with anyone. SKIP never stores your keystore or
      phrase anywhere.
      <br/>This phrase is the only way to recover funds if your keystore file is
      lost.
    </div>

    <div class="bottom-actions">
      <button class="next-btn" (click)="confirm()">
        <span>I Understand</span>
      </button>
    </div>
  </div>
</div>
