<div
  *ngIf="memberPoolData && asset"
  class="pool-list-item"
  [ngClass]="{ activate: activate, pending: isPending }"
  (click)="toggleExpanded()"
  (mouseover)="hover = true"
  (mouseout)="hover = false"
>
  <div class="flex justify-between items-center">
    <div class="left-section">
      <app-icon-ticker
        [iconPath]="asset.iconPath"
        [chain]="asset.chain"
        [ticker]="asset.ticker"
      ></app-icon-ticker>
      <span class="extra-info" *ngIf="poolData && !activate">
        / {{ +poolData.poolAPY * 100 | number: "0.0-2" }}% APY /
        {{ assetDepth | shortNumber }} {{ currency.code }} D</span
      >
    </div>

    <span class="pending" *ngIf="isPending"
      >(PENDING {{ isPending.action }})</span
    >
    <!-- <button class="text-white" mat-icon-button>
      <mat-icon>expand_more</mat-icon>
    </button> -->
    <div class="flex justify-between">
      <ng-container *ngIf="activate && !isPending">
        <app-tag *ngIf="!isTestnet">
          <a
            [href]="
              'https://app.runeyield.info/dashboard?thor=' +
              memberPoolData.runeAddress
            "
            target="_blank"
            >YIELD STATS</a
          >
        </app-tag>
        <div style="width: 5px"></div>
        <app-tag>
          <a
            [href]="
              'https://thorchain.delphidigital.io/thorchain/' +
              (isTestnet ? 'testnet/' : 'chaosnet/')
            "
            target="_blank"
            >POOL STATS</a
          >
        </app-tag>
        <div style="width: 5px"></div>
        <app-tag *ngIf="!depositsDisabled">
          <a [routerLink]="['/', 'deposit', asset.chain + '.' + asset.symbol]"
            >Deposit</a
          >
        </app-tag>
        <div style="width: 5px"></div>
        <app-tag>
          <a [routerLink]="['/', 'withdraw', asset.chain + '.' + asset.symbol]"
            >Withdraw</a
          >
        </app-tag>
      </ng-container>
      <ng-container *ngIf="!activate && !isPending">
        <app-tag
          type="color"
          [active]="hover"
          [color]="gainLoss >= 0 ? '#28F4AE' : '#FF4954'"
        >
          <span style="color: inherit"
            >Joined
            <span *ngIf="gainLoss && !isTestnet" style="color: inherit"
              >{{ gainLoss > 0 ? "+" : ""
              }}{{ gainLoss | number: "0.0-2" }}</span
            ></span
          >
        </app-tag>
      </ng-container>
    </div>
  </div>

  <!-- <div [hidden]="!expanded" class="staked-data-details">
    <div *ngIf="pooledRune" class="flex justify-between pool-detail-row">
      <span>Pooled RUNE</span>
      <span>{{pooledRune | number:"0.0-6"}}</span>
    </div>
    <div *ngIf="pooledAsset" class="flex justify-between pool-detail-row">
      <span>Pooled {{asset.ticker}}</span>
      <span>{{pooledAsset | number:"0.0-6"}}</span>
    </div>
    <div *ngIf="poolShare" class="flex justify-between pool-detail-row">
      <span>Pool Share</span>
      <span>{{poolShare | percent:"0.0-6"}}</span>
    </div>


    <div class="flex justify-between">
      <a *ngIf="!depositsDisabled" mat-flat-button class="w-1/2" color="primary" [routerLink]="['/', 'deposit', asset.chain + '.' + asset.symbol]">Deposit</a>
      <span *ngIf="!depositsDisabled" class="w-2"></span>
      <a mat-flat-button [ngClass]="{'w-1/2' : !depositsDisabled, 'w-full' : depositsDisabled}" color="primary" [routerLink]="['/', 'withdraw', asset.chain + '.' +  asset.symbol]">Withdraw</a>
    </div>
  </div> -->
</div>
