<div
  *ngIf="memberPoolData && asset"
  class="pool-list-item"
  [ngClass]="{ activate: activate, pending: isPending }"
  (click)="toggleExpanded()"
  (mouseover)="hover = true"
  (mouseout)="hover = false"
>
  <div class="flex justify-between items-center">
    <div class="left-section">
      <app-icon-ticker
        [iconPath]="asset.iconPath"
        [chain]="asset.chain"
        [ticker]="asset.ticker"
      ></app-icon-ticker>
      <span class="extra-info" *ngIf="poolData && !activate">
        / {{ +poolData.poolAPY * 100 | number: "0.0-2" }}% APY /
        {{ assetDepth | shortNumber }} {{ currency.code }} D</span
      >
    </div>

    <span class="pending" *ngIf="isPending"
      >({{ isPending.action + 'ING' }})</span
    >

    <div class="flex justify-between">
      <ng-container *ngIf="activate && !isPending">
        <app-tag *ngIf="!isTestnet">
          <a
            [href]="
              'https://app.runeyield.info/dashboard?thor=' +
              memberPoolData.runeAddress
            "
            target="_blank"
            >YIELD STATS</a
          >
        </app-tag>
        <div style="width: 5px"></div>
        <app-tag>
          <a
            [href]="
              'https://thorchain.delphidigital.io/thorchain/' +
              (isTestnet ? 'testnet/' : 'chaosnet/')
            "
            target="_blank"
            (click)="statEvent()"
            >POOL STATS</a
          >
        </app-tag>
        <div style="width: 5px"></div>
        <app-tag *ngIf="!depositsDisabled">
          <a [routerLink]="['/', 'deposit', asset.chain + '.' + asset.symbol]"
          (click)="depositEvent()"
          >Deposit</a
          >
        </app-tag>
        <div style="width: 5px"></div>
        <app-tag>
          <a [routerLink]="['/', 'withdraw', asset.chain + '.' + asset.symbol]"
            (click)="withdrawEvent()"  
          >Withdraw</a
          >
        </app-tag>
      </ng-container>
      <ng-container *ngIf="!activate && !isPending">
        <app-tag
          type="color"
          [active]="hover"
          [color]="gainLoss < 0 ? '#FF4954' : '#28F4AE'"
        >
          <span style="color: inherit"
            >Joined
            <span *ngIf="gainLoss && !isTestnet" style="color: inherit"
              >{{ gainLoss > 0 ? "+" : ""
              }}{{ gainLoss | number: "0.0-2" }}%</span
            ></span
          >
        </app-tag>
      </ng-container>
    </div>
  </div>

</div>
