<div class="overlay-of-content">
  <div class="content-top">
    <app-breadcrumb
      [path]="[
        { name: 'skip', call: 'skip' },
        { name: 'swap', call: 'swap' },
        { name: 'TARGET ' + data?.chain + ' ADDRESS', disable: true }
      ]"
      [message]="updateAddressBtnText()"
      (funcCaller)="breadcurmbNav($event)"
    ></app-breadcrumb>
  </div>

  <div>
    <div mat-dialog-content style="height: 365px">
      <app-text-field
        label="Recipient Address"
        [(textOfField)]="targetAddress"
        name="target-address"
      ></app-text-field>
    </div>
  </div>

  <!-- close dialog -->
  <div class="bottom-actions two-btn">
    <div class="left-btn">
      <button
        class="close-btn"
        aria-label="Close Markets Dialog"
        (click)="backEmit()"
      >
        <span>CANCEL</span>
      </button>
    </div>
    <div class="divider"></div>
    <div class="right-btn">
      <button class="next-btn" (click)="updateAddress()" [disabled]="formDisabled()">
        <span>SAVE</span>
      </button>
    </div>
  </div>
</div>