<div class="background-container">
  <app-header></app-header>

  <main *ngIf="currentView == currentViewType.Swap">
    <router-outlet></router-outlet>
  </main>

  <main *ngIf="currentView == currentViewType.UserSetting && !appLocked">
    <app-user-settings-dialog></app-user-settings-dialog>
  </main>

  <main *ngIf="currentView == currentViewType.Reconnect && !appLocked">
    <app-reconnect-dialog [keystore]="keystore"></app-reconnect-dialog>
  </main>

  <main *ngIf="currentView == currentViewType.AccountSetting && !appLocked">
    <app-account-settings></app-account-settings>
  </main>

  <main *ngIf="currentView == currentViewType.Upgrade && !appLocked">
    <app-native-rune-prompt-modal></app-native-rune-prompt-modal>
  </main>

  <main *ngIf="currentView == currentViewType.Transaction && !appLocked">
    <app-pending-txs-modal></app-pending-txs-modal>
  </main>

  <footer>
    <div class="footer-content">
      <span><span [ngStyle]="{'color': isTestnet ? 'inherit': 'var(--primary-red)', 'font-weight': isTestnet ? 'inherit' : 'bold'}">BETA product. Don’t swap/pool large.</span> Powered by <a class="footer-link" href="https://t.me/thorchain_org" target="_blank">THORChain</a>. Go to <a class="footer-link" [href]="appUrl" *ngIf="!isTestnet">TestNet</a><a class="footer-link" [href]="appUrl" *ngIf="isTestnet">ChaosNet</a> app instead.</span>
    </div>
  </footer>
</div>




