<div class="background-container">
  <app-header></app-header>

  <main *ngIf="appLocked" class="flex flex-col justify-center items-center clear-both px-4 sm:px-0">
    <div class="container flex items-center justify-center">
      <div class="py-4">
        <mat-icon style="font-size: 48px; height: 48px; width: 48px;">construction</mat-icon>
      </div>
      <span>
        THORChain is undergoing updates.<br />
        Please try again later.
      </span>
    </div>
  </main>

  <main *ngIf="currentView == currentViewType.Swap && !appLocked">
    <router-outlet></router-outlet>
  </main>

  <main *ngIf="currentView == currentViewType.UserSetting && !appLocked">
    <app-user-settings-dialog></app-user-settings-dialog>
  </main>

  <main *ngIf="currentView == currentViewType.Reconnect && !appLocked">
    <app-reconnect-dialog [keystore]="keystore"></app-reconnect-dialog>
  </main>

  <main *ngIf="currentView == currentViewType.AccountSetting && !appLocked">
    <app-account-settings></app-account-settings>
  </main>

  <main *ngIf="currentView == currentViewType.Upgrade && !appLocked">
    <app-native-rune-prompt-modal></app-native-rune-prompt-modal>
  </main>

  <main *ngIf="currentView == currentViewType.Transaction && !appLocked">
    <app-pending-txs-modal></app-pending-txs-modal>
  </main>

  <footer>
    <div class="footer-content">
      <span><span [ngStyle]="{'color': isTestnet ? 'inherit': 'var(--primary-red)', 'font-weight': isTestnet ? 'inherit' : 'bold'}">BETA product. Don’t swap/pool large.</span> Powered by <a class="footer-link" href="https://t.me/thorchain_org" target="_blank">THORChain</a>. To access the <span *ngIf="!isTestnet">testnet</span><span *ngIf="isTestnet">chaosnet</span> app <a class="footer-link" [href]="appUrl">click here</a></span>
    </div>
  </footer>
</div>




