<div *ngIf="data">
  <div class="container-wrapper" *ngIf="txState == 'PENDING_CONFIRMATION'">
    <div class="container">
      <div class="content-top">
        <app-breadcrumb
          [path]="[
            { name: 'skip', call: 'swap' },
            { name: 'Pools', call: 'pool' },
            { name: 'Create', call: 'create' }
          ]"
          [isError]=""
          message="Confirm"
          (funcCaller)="goToNav($event)"
        ></app-breadcrumb>
        <div class="top-right">
          <div class="right-option"></div>
        </div>
      </div>
      <app-asset-input
        label="Deposit"
        [(selectedAsset)]="data.asset"
        [(assetUnit)]="data.assetAmount"
        [balance]="data.assetBalance"
        [disabledMarketSelect]="true"
        [disableInput]="true"
        [disabledAssetSymbol]="data.rune.symbol"
        [hideMax]="true"
      >
      </app-asset-input>
      <app-arrow [isPlus]="true"></app-arrow>
      <app-asset-input
        label="Deposit"
        [(selectedAsset)]="data.rune"
        [(assetUnit)]="data.runeAmount"
        [balance]="data.runeBalance"
        [disabledMarketSelect]="true"
        [disableInput]="true"
        [disabledAssetSymbol]="data.rune.symbol"
        [hideMax]="true"
      >
      </app-asset-input>
      <div class="swap-details">
        <div *ngIf="data.networkFee" class="flex justify-between mb-2">
          <span class="tx-detail-label">Fees:</span>
          <span
            >{{ data.networkFee | number: "0.0-6" }} {{ data.asset.chain }}
            <span *ngIf="data.networkFee && data.runeFee">+</span>
            <span>{{ data.runeFee | number: "0.0-2" }} RUNE</span></span
          >
        </div>
        <div class="flex justify-between">
          <span class="tx-detail-label">Disclaimer:</span>
          <span>Output is estimated</span>
        </div>
      </div>
      <div class="bottom-actions two-btn">
        <div class="left-btn">
          <button class="close-btn" (click)="closeDialog()">
            <span>Cancel</span>
          </button>
        </div>
        <div class="divider"></div>
        <div class="right-btn">
          <button class="next-btn" (click)="submitTransaction()">
            <span>Confirm</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <app-transaction-processing-modal
    *ngIf="txState == 'SUBMITTING'"
    [asset]="[
      { asset: data.asset, balance: data.assetBalance, assetPriceUSD: 0 },
      { asset: data.rune, balance: data.runeBalance, assetPriceUSD: 0 }
    ]"
    [label]="['Depositing', 'Depositing']"
    [amount]="[data.assetAmount, data.runeAmount]"
    transactionDetail="Depositing {{ data.assetAmount }} {{
      data.asset.ticker
    }} + {{ data.runeAmount }} {{ data.rune.ticker }}"
    (closeDialog)="closeDialog()"
  >
    <app-breadcrumb
      [path]="[
        { name: 'skip', call: 'swap' },
        { name: 'Pools', disable: true },
        { name: 'Create', disable: true }
      ]"
      message="Transaction Processing"
      (funcCaller)="goToNav($event)"
    ></app-breadcrumb>
  </app-transaction-processing-modal>

  <app-transaction-success-modal
    *ngIf="txState === 'SUCCESS'"
    [chain]="data.asset.chain"
    [hash]="hash"
    [asset]="[
      { asset: data.asset, balance: data.assetBalance, assetPriceUSD: 0 },
      { asset: data.rune, balance: data.runeBalance, assetPriceUSD: 0 }
    ]"
    [label]="['Deposited', 'Deposited']"
    [amount]="[data.assetAmount, data.runeAmount]"
    (closeDialog)="closeDialog(true)"
    [externalTx]="true"
    modalType="DEPOSIT"
  >
    <app-breadcrumb
      [path]="[
        { name: 'skip', call: 'swap' },
        { name: 'Pools', call: 'pool' },
        { name: 'Create', disable: true }
      ]"
      message="Success"
      (funcCaller)="goToNav($event)"
    ></app-breadcrumb>
  </app-transaction-success-modal>
</div>
