<div
  class="container-wrapper"
  *ngIf="view === 'Asset' || view === 'Deposit' || view === 'Approve' || view === 'Connect'"
>
  <div class="container">
    <div *ngIf="view === 'Deposit'">
      <div class="main-container">
        <nav class="content-top">
          <app-breadcrumb
            [path]="[
              { name: 'skip', call: 'swap' },
              { name: 'Pools', call: 'pool' },
              { name: 'Deposit', disable: true }
            ]"
            [message]="mainButtonText()"
            (funcCaller)="breadCrumbNav($event)"
          ></app-breadcrumb>
        </nav>
      </div>

      <app-asset-input
        label="Deposit"
        [(selectedAsset)]="asset"
        [(assetUnit)]="assetAmount"
        [balance]="assetBalance"
        [disabledAssetSymbol]="rune.symbol"
        [selectableMarkets]="selectableMarkets"
        [isDeposit]="true"
        (lunchMarket)="lunchMarket()"
        (maxError)="setMaxError($event)"
        [eventTags]="{
          event_category: 'pool_deposit_symmetrical_prepare',
          event_label_max: 'tag_deposit_symmetrical_container_max'
        }"
      >
      </app-asset-input>

      <app-arrow [isPlus]="true"></app-arrow>

      <app-asset-input
        label="Deposit"
        [(selectedAsset)]="rune"
        [(assetUnit)]="runeAmount"
        [balance]="runeBalance"
        [priceInput]="runePrice"
        [hideMax]="true"
        [disableInput]="true"
        [disabledAssetSymbol]="rune.symbol"
        [disabledMarketSelect]="true"
        [isDeposit]="true"
        [eventTags]="{
          event_category: 'pool_deposit_symmetrical_prepare',
          event_label_max: 'tag_deposit_symmetrical_container_max'
        }"
      >
      </app-asset-input>

      <div class="swap-details">
        <div class="flex justify-between">
          <span class="tx-detail-label">Fees:</span>
          <span *ngIf="networkFee"
            >{{ networkFee | number: "1.0-8" }} {{ asset.ticker }}.{{
              asset.chain
            }} 
            <span *ngIf="currency && assetPrice">({{this.currency.value * networkFee * assetPrice | number: '0.0-2'}} {{currency.code}})</span>
          </span>
          <span *ngIf="!networkFee">...</span>
        </div>
        <div class="flex justify-between">
          <span class="tx-detail-label"></span>
          <span *ngIf="runeFee">{{ runeFee | number: "1.0-4" }} RUNE <span *ngIf="currency && runePrice">({{this.currency.value * runePrice * runeFee | number: '0.0-2'}} {{currency.code}})</span></span>
          <span *ngIf="!runeFee">...</span>
        </div>
      </div>

      <div *ngIf="user" class="bottom-actions two-btn">
        <div class="left-btn">
          <button class="close-btn" (click)="back()">
            <span>Cancel</span>
          </button>
        </div>
        <div class="divider"></div>
        <div class="right-btn">
          <button
            *ngIf="!ethContractApprovalRequired"
            (click)="openConfirmationDialog()"
            class="next-btn graident-btn"
            [disabled]="formDisabled() || !assetPoolData || poolNotFoundErr || bchLegacyPooled"
          >
            <span>Deposit</span>
          </button>
          <app-approve-eth-contract
            *ngIf="ethContractApprovalRequired"
            [contractAddress]="ethRouter"
            [asset]="asset"
            (approveClicked)="overlaysService.setCurrentDepositView('Approve')"
            (approved)="contractApproved()"
          >
          </app-approve-eth-contract>
        </div>
      </div>

      <div *ngIf="!user" class="bottom-actions two-btn">
        <div class="left-btn">
          <button class="close-btn" (click)="back()">
            <span>Cancel</span>
          </button>
        </div>
        <div class="divider"></div>
        <div class="right-btn">
          <button class="next-btn" (click)="connectWallet()">
            <span>Connect</span>
          </button>
        </div>
      </div>
    </div>

    <div 
      class="overlay-container overlay-connect-wallet"
      *ngIf="view === 'Connect'"
    >
      <app-connect-modal (closeEvent)="overlaysService.setCurrentDepositView('Deposit')"></app-connect-modal>
    </div>

    <div
      class="overlay-container overlay-connect-wallet"
      *ngIf="view === 'Asset'"
    >
      <app-markets-modal
        [(selectedAsset)]="asset"
        [selectableMarkets]="selectableMarkets"
        [disabledAssetSymbol]="rune.symbol"
        (close)="overlaysService.setCurrentDepositView('Deposit')"
        [showApy]="true"
        [events]="{
          event_category: 'pool_deposit_symmetrical_asset_search'
        }"
      >
        <app-breadcrumb
          [path]="[
            { name: 'skip', swapView: 'Swap', mainView: 'Swap' },
            { name: 'Pools', call: 'pool' },
            { name: 'Deposit', call: 'deposit-back' },
            { name: 'SEARCH', disable: true }
          ]"
          message="SELECT"
          (funcCaller)="breadCrumbNav($event)"
        ></app-breadcrumb>
      </app-markets-modal>
    </div>

    <div
      class="overlay-container overlay-connect-wallet"
      *ngIf="view === 'Approve'"
    >
      <app-approve-eth-contract-modal
        [data]="{ asset: asset, contractAddress: ethRouter }"
        (approvedHash)="contractApproved()"
        (close)="overlaysService.setCurrentDepositView('Deposit')"
        mode="deposit"
      ></app-approve-eth-contract-modal>
    </div>
  </div>
</div>

<app-confirm-deposit-modal
  *ngIf="view === 'Confirm' && depositData"
  (close)="closeSuccess($event)"
  [data]="depositData"
>
</app-confirm-deposit-modal>

<!-- TODO: this should be checked -->
<!-- <div *ngIf="poolNotFoundErr">
  <div class="container">
    <app-section-head sectionTitle="Add Liquidity" [displayBackBtn]="true" (back)="back()"></app-section-head>
    <div class="flex flex-col items-center justify-center p-8 text-sm flex-grow">
      <div class="flex flex-col items-center">
        <mat-icon>warning</mat-icon>
        <div *ngIf="asset" class="my-4">
          {{asset.chain}}.{{asset.ticker}} Pool Not Found
        </div>
        <a class="gradient-btn rounded-lg px-8 py-4" [routerLink]="['/', 'create-pool']" [queryParams]="{pool: asset.chain + '.' + asset.symbol}">Create Pool</a>
      </div>
    </div>
  </div>
</div> -->

<!-- <div *ngIf="bchLegacyPooled">
  <div class="container">
    <app-section-head sectionTitle="Do not pool BCH" [displayBackBtn]="true" (back)="back()"></app-section-head>
    <div class="flex flex-col items-center justify-center p-8 text-sm flex-grow">
      <div class="flex flex-col items-center">
        <mat-icon>warning</mat-icon>
        <small>
          Pooled BCH with a legacy address has been found. Depositing BCH with your current BCH Cash address will put you AT RISK OF LOSING YOUR FUNDS. DO NOT POOL BCH! You MUST withdraw BCH pooled with your legacy address before depositing again.
          Please create an issue at https://github.com/asgardex/asgard-exchange/issues if you encounter this message.
        </small>
      </div>
    </div>
  </div>
</div> -->

