<div class="dialog-content">

    <div class="content-top">
      <app-breadcrumb [path]="[{name: 'vanaheimex', swapView: 'Swap', mainView: 'Swap'}, {name: 'Connect', backFunc: true}, {name: 'import phrase', disable: true}]" [isError]="error" [message]="error ? 'Error Creating Keystore' : password === confirmPassword ? 'ready' : 'set password'" (backFunc)="back.emit()"></app-breadcrumb>
      <div class="top-right">
      </div>
    </div>


    <div mat-dialog-content>

      <div class="uni-input">
        <label>Phrase</label>
        <input autocomplete="off" class="password focus:ring-0" style="font-size: 'Roboto';" [(ngModel)]="phrase" name="keystore-phrase" placeholder="________________________________________" type="text" />
      </div>

      <app-arrow></app-arrow>

      <div class="uni-input">
        <label>Backup Password</label>
        <input class="password focus:ring-0" [(ngModel)]="password" name="keystore-password" placeholder="________________________________________" type="password" />
      </div>

    </div>

    <div class="disclaimer swap-details">
      <span style="color: var(--primary-red)">This will create and download a keystore to your computer. <br /> Please store this file offline in a safe place.</span>
    </div>
  </div>

  <div class="bottom-actions two-btn">
    <div class="left-btn">
      <button class="close-btn" (click)="back.emit()">
        <span>cancel</span>
      </button>
    </div>
    <div class="divider"></div>
    <div class="right-btn">
      <button class="next-btn" (click)="createKeystore()" [disabled]="!phrase || !password || loading">
        <span>Create</span>
      </button>
    </div>
  </div>
