<div class="dialog-content">
  <div class="content-top">
    <app-breadcrumb
      [path]="[
        { name: 'skip', call: 'swap' },
        { name: 'Connect', call: 'connect' },
        { name: 'Create wallet from phrase', disable: true }
      ]"
      [isError]="error || (password !== confirmPassword && confirmPassword)"
      [message]="(confirmPassword !== password && confirmPassword) ? 'PASSWORDS DON\'T MATCH' : message"
      (funcCaller)="breadcrumbNav($event)"
    ></app-breadcrumb>
    <div class="top-right"></div>
  </div>

  <div mat-dialog-content>
    <div class="uni-input">
      <label>Phrase <span  style="color: var(--primary-grey-color)">(BIP39 words separated with a space)</span></label>
      <input
        autocomplete="off"
        class="password focus:ring-0"
        style="font-size: 'Roboto'"
        [(ngModel)]="phrase"
        name="keystore-phrase"
        placeholder=" "
        type="text"
      />
      <span class="pulse-placeholder"></span>
    </div>

    <app-arrow></app-arrow>

    <app-text-field
      mode="Double"
      label="Password"
      [(textOfField)]="password"
      selectedType="password"
      name="keystore-password"
      [(textOfFieldTwo)]="confirmPassword"
      typeTwo="password"
      labelTwo="Confirm Password"
      nameTwo="confirm-password"    
    >
    </app-text-field>

  </div>

  <div class="descriptive">
    <span>
      This will create and download a keystore to your computer. <br /> 
      Please store it offline safely.
    </span>
  </div>
</div>  

<div class="bottom-actions two-btn">
  <div class="left-btn">
    <button class="close-btn" (click)="backNav()">
      <span>cancel</span>
    </button>
  </div>
  <div class="divider"></div>
  <div class="right-btn">
    <button
      class="next-btn"
      (click)="createKeystore()"
      [disabled]="!phrase || !password || loading || (password !== confirmPassword && confirmPassword)"
    >
      <span>Create</span>
    </button>
  </div>
</div>
