<div class="container-wrapper" *ngIf="txState === 'PENDING_CONFIRMATION' || mode === 'ERROR'">
  <div class="container">
    <div class="content-top">
      <app-breadcrumb [path]="[{name: 'vanaheimex', swapView: 'Swap', mainView: 'Swap'}, {name: 'wallet', call: 'wallet'}, {name: asset.asset.chain, call: 'chain'}, {name: asset.asset.chain + '.' + asset.asset.ticker, call: 'asset'}, {name: 'send', disable: true}]" [message]="message" (funcCaller)="navCaller($event)" [isError]="mode === 'ERROR'"></app-breadcrumb>
      <div class="top-right">
      </div>
    </div>

    <div mat-dialog-content>

      <div class="modal-head confirm-modal-head">

        <app-asset-input
          label="Send"
          [(selectedAsset)]="asset.asset"
          [(assetUnit)]="amount"
          [balance]="asset.balance.amount().toNumber()"
          [disabledAssetSymbol]="asset.asset.symbol"
          [selectableMarkets]="[asset]"
          [disabledMarketSelect]="true"
          [disableInput]="true"
          [hideMax]="true"
          >
        </app-asset-input>

        <app-arrow></app-arrow>

        <app-text-field *ngIf="asset.asset.chain !== 'BNB'" selectedType="Text" mode="Single" label="Recipient Address" [(textOfField)]="recipientAddress" [disable]="true"></app-text-field>
        <app-text-field *ngIf="asset.asset.chain === 'BNB'" selectedType="Text" mode="Double" typeTwo="text" label="Recipient Address" labelTwo="Memo" [(textOfField)]="recipientAddress" [(textOfFieldTwo)]="memo" [disable]="true" [disableTwo]="true"></app-text-field>

      </div>

    </div>

    <div class="bottom-actions two-btn">
      <div class="right-btn">
        <div>
          <button class="close-btn" (click)="back.emit()">
            <span>cancel</span>
          </button>
        </div>
      </div>
      <div class="divider"></div>
      <div class="left-btn">
        <div>
          <button [disabled]="loading || insufficientChainBalance" (click)="submitTransaction()" class="next-btn">
            <span>confirm</span>
          </button>
        </div>
      </div>
    </div>
    <!-- <div class="bottom-actions">
      <div style="width: 100%;">
        <button [disabled]="true" class="next-btn" aria-label="TRANSACTION PROCESSING…">
          <span>PLEASE WAIT…</span>
        </button>
      </div>

    <div *ngIf="asset.asset.chain === 'BNB'" class="uni-input">
      <label>Memo (Optional)</label>
      <textarea [(ngModel)]="memo" name="memo" [disabled]="true"></textarea>
    </div>

    <div *ngIf="loading" style="height: 56px;" class="flex justify-center items-center w-full mt-4">
      <mat-progress-spinner mode="indeterminate" diameter="30"></mat-progress-spinner>
    </div>
    <div class="bottom-actions" *ngIf="(mode === 'SUCCESS' && asset) || mode === 'ERROR'">
      <div style="width: 100%;">
        <button class="close-btn" aria-label="CLOSE" (click)="mode === 'SUCCESS' ? close.emit() : back.emit()">
          <span>close</span>
        </button>
      </div>
    </div> -->
  </div>
</div>

<app-transaction-processing-modal
  *ngIf="txState === 'SUBMITTING' && asset"
  [isSending]="true"
  [label]="['Sending']"
  [asset]="[asset]"
  [amount]="[amount]"
  [memo]="memo"
  [recipientAddress]="recipientAddress">
  <app-breadcrumb [path]="[{name: 'vanaheimex', swapView: 'Swap', mainView: 'Swap'}, {name: 'wallet', call: 'wallet'}, {name: asset.asset.chain, call: 'chain'}, {name: asset.asset.chain + '.' + asset.asset.ticker, call: 'asset'}, {name: 'send', disable: true}]" message="TRANSACTION PROCESSING" (funcCaller)="navCaller($event)"></app-breadcrumb>
</app-transaction-processing-modal>

<app-transaction-success-modal
  *ngIf="txState === 'SUCCESS' && asset"
  [isSending]="true"
  [label]="['Sent']"
  [asset]="[asset]"
  [chain]="asset.asset.chain"
  [amount]="[amount]"
  [hash]="hash"
  (closeDialog)="close.emit()"
  [recipientAddress]="recipientAddress">
  <app-breadcrumb [path]="[{name: 'vanaheimex', swapView: 'Swap', mainView: 'Swap'}, {name: 'wallet', call: 'wallet'}, {name: asset.asset.chain, call: 'chain'}, {name: asset.asset.chain + '.' + asset.asset.ticker, call: 'asset'}, {name: 'send', disable: true}]" message="SUCCESS" (funcCaller)="navCaller($event)"></app-breadcrumb>
</app-transaction-success-modal>

<!-- <div *ngIf="txState === 'ERROR'" class="flex flex-col items-center py-8 text-sm">
  <mat-icon>warning</mat-icon>
  There was an error sending.<br />
  {{error}}
</div> -->

