.tag-container {
  border-radius: 3px;
  border: 1px solid transparent;

  .tag-field {
    border-radius: 3px;
    padding: 0 5px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 20px;
    font-weight: 400;

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  &.outline {
    background: var(--primary-dark-color);
    border: 1px solid var(--primary-default);

    .tag-field {
      width: 100%;
      height: 100%;
      background: transparent;
      color: #fff;
    }
  }

  &.green {
    background: var(--primary-default);

    .tag-field {
      color: var(--primary-dark-color);
    }
  }

  &.color {
    background: var(--primary-default);

    .tag-field {
      color: var(--primary-dark-color);
    }
  }

  &.dark {
    background: var(--primary-dark-color);

    .tag-field {
      color: #fff;
    }
  }
}
