<div class="container-wrapper">
  <div class="container">
    <ng-container *ngIf="mode === 'Pool'">
      <div class="main-container">
        <nav class="content-top">
          <app-breadcrumb
            [path]="[
              { name: 'skip', call: 'swap' },
              { name: 'Pools', disable: true }
            ]"
            [message]="getBreadcrumbText()"
            (funcCaller)="breadcrumbNav($event)"
          ></app-breadcrumb>
          <div class="top-right">
            <app-right-option
              [switchField]="{
                right: { text: 'Pool', tag: '', disable: false },
                left: { text: 'Swap', tag: '', disable: false }
              }"
              (clickCaller)="switchNav($event)"
            ></app-right-option>
          </div>
        </nav>

        <app-staked-pools-list
          *ngIf="pools && !userPoolError"
          [pools]="pools"
          [runePrice]="runePrice"
          [memberPools]="memberPools"
        ></app-staked-pools-list>
        <div
          *ngIf="userPoolError || !pools"
          class="lists flex justify-center items-center"
          style="height: 262px"
        >
          <span
            style="color: var(--primary-grey-color); font-size: 22px"
            *ngIf="(!memberPools || !pools) && !userPoolError"
            >FETCHING POOLS</span
          >
          <span
            style="color: var(--primary-grey-color); font-size: 22px"
            *ngIf="userPoolError"
            >ERROR OCCURRED</span
          >
        </div>

        <div class="swap-details" *ngIf="poolType !== 'notMember'">
          <div class="flex justify-between">
            <span class="tx-detail-label">Pooled RUNE:</span>
            <span *ngIf="pooledRune">{{ pooledRune | number: "0.0-6" }}</span>
            <span *ngIf="!pooledRune">...</span>
          </div>
          <div class="flex justify-between">
            <span class="tx-detail-label"
              >Pooled
              <span *ngIf="pooledAssetChain && pooledAssetTicker"
                >{{ pooledAssetChain }}.{{ pooledAssetTicker }}</span
              ><span *ngIf="!pooledAssetTicker || !pooledAssetChain">Asset</span
              >:</span
            >
            <span *ngIf="pooledAsset">{{ pooledAsset | number: "0.0-6" }}</span>
            <span *ngIf="!pooledAsset">...</span>
          </div>
          <div class="flex justify-between">
            <span class="tx-detail-label">Pool Share:</span>
            <span *ngIf="pooledShare"
              >{{ pooledShare * 100 | number: "0.0-6" }}%</span
            >
            <span *ngIf="!pooledShare">...</span>
          </div>
          <!-- <div class="flex justify-between">
            <span class="tx-detail-label">Feeling Adventurous:</span>
            <span class="pool"
              *ngIf="createablePools && createablePools.length > 0 && !depositsDisabled, else noPool"
              [routerLink]="['/', 'create-pool']"
              [queryParams]="{pool: createablePools[0]}">
              Create a new pool
            </span>
            <ng-template #noPool>
              <span>...</span>
            </ng-template>
          </div> -->
        </div>
      </div>

      <div class="swap-details" *ngIf="poolType === 'notMember'">
        <div class="flex justify-between">
          <span class="tx-detail-label">Average 24H Volume:</span>
          <span *ngIf="pooledRune !== undefined && pooledRune !== null"
            >{{ pooledRune | number: "0.0-2" }} {{ currency.code }}</span
          >
          <span *ngIf="pooledRune === undefined || pooledRune === null">...</span>
        </div>
        <div class="flex justify-between">
          <span class="tx-detail-label">Depth:</span>
          <span *ngIf="pooledAsset"
            >{{ pooledAsset | number: "0.0-2" }} {{ currency.code }}</span
          >
          <span *ngIf="!pooledAsset">...</span>
        </div>
      </div>

      <div class="bottom-actions" *ngIf="user">
        <div>
          <button
            class="next-btn"
            [disabled]="!user || loading"
            (click)="buttonRefresh()"
          >
            <span>Refresh</span>
          </button>
        </div>
        <!-- <div class="divider"></div> -->
        <!-- <div class="right-btn">
          <a
            [ngClass]="{
              disabled:
                !user ||
                loading ||
                userPoolError ||
                depositsDisabled ||
                (createablePools && createablePools.length == 0)
            }"
            [routerLink]="['/', 'create-pool']"
            [queryParams]="{ pool: createablePools ? createablePools[0] : '' }"
            (click)="createPoolEvent()"
            class="next-btn graident-btn"
          >
            <span>Create a new pool</span>
          </a>
        </div> -->
      </div>

      <div class="bottom-actions" *ngIf="!user">
        <button class="next-btn" (click)="connectWallet()">
          <span>CONNECT WALLET</span>
        </button>
      </div>
      
    </ng-container>

    <div
      class="overlay-container overlay-connect-wallet"
      *ngIf="mode == 'Connect'"
    >
      <app-connect-modal (closeEvent)="ovrService.setCurrentPoolView('Pool')"></app-connect-modal>
    </div>

  </div>
</div>
