<div class="container-wrapper">
  <div class="container">
    <!-- <nav>
      <div>
        <a [routerLink]="['/', 'swap']" routerLinkActive="active">Swap</a>
        <a [routerLink]="['/', 'pool']" routerLinkActive="active">
          <p class="pool">
            <span class="soon">soon</span>
            Pool
          </p>
        </a>
      </div>
    </nav> -->
    <div class="main-container">
      <nav class="content-top">
        <app-breadcrumb [path]="[{name: 'vanaheimex', call: 'swap'}, {name: 'Pools', disable: true}]" [message]="getBreadcrumbText()" (funcCaller)="goToNav($event)"></app-breadcrumb>
        <div class="top-right">
          <app-right-option [switchField]="{right: {text: 'Pool', tag: '', disable: false}, left: {text: 'Swap', tag: '', disable: false}}"></app-right-option>
        </div>
      </nav>


      <!-- TODO: pooled rune should be added into thorchain mainnet -->
      <!-- <div *ngIf="maxLiquidityRune" style="padding: 8px" class="flex justify-center disabled-list">
        <div>
          <span>{{totalPooledRune | number: '1.0-0'}}</span> / <span class="mr-1">{{maxLiquidityRune | number}} </span>
        </div>
        <span>RUNE Cap Pooled</span>
      </div> -->

      <!-- <button *ngIf="depositsDisabled" class="main-action-btn w-full" mat-flat-button color="primary" disabled>Pool Cap > 90%</button> -->


      <app-staked-pools-list *ngIf="pools && !userPoolError" [pools]="pools" [runePrice]="runePrice" [memberPools]="memberPools"></app-staked-pools-list>
      <div *ngIf="userPoolError || !pools" class="lists flex justify-center items-center" style="height: 262px;">
        <span style="color: var(--primary-grey-color); font-size: 22px;" *ngIf="(!memberPools || !pools) && !userPoolError">FETCHING POOLS</span>
        <span style="color: var(--primary-grey-color); font-size: 22px;" *ngIf="userPoolError">ERROR OCCURRED</span>
      </div>

      <div class="swap-details" *ngIf="poolType !== 'notMember'">
        <div class="flex justify-between">
          <span class="tx-detail-label">Pooled RUNE:</span>
          <span *ngIf="pooledRune">{{pooledRune | number:"0.0-6"}}</span>
          <span *ngIf="!pooledRune">...</span>
        </div>
        <div class="flex justify-between">
          <span class="tx-detail-label">Pooled <span *ngIf="pooledAssetChain && pooledAssetTicker">{{pooledAssetChain}}.{{pooledAssetTicker}}</span><span *ngIf="!pooledAssetTicker || !pooledAssetChain">Asset</span>:</span>
          <span *ngIf="pooledAsset">{{pooledAsset | number:"0.0-6"}}</span>
          <span *ngIf="!pooledAsset">...</span>
        </div>
        <div class="flex justify-between">
          <span class="tx-detail-label">Pool Share:</span>
          <span *ngIf="pooledShare">{{pooledShare * 100 | number:"0.0-6" }}%</span>
          <span *ngIf="!pooledShare">...</span>
        </div>
        <!-- <div class="flex justify-between">
          <span class="tx-detail-label">Feeling Adventurous:</span>
          <span class="pool"
            *ngIf="createablePools && createablePools.length > 0 && !depositsDisabled, else noPool"
            [routerLink]="['/', 'create-pool']"
            [queryParams]="{pool: createablePools[0]}">
            Create a new pool
          </span>
          <ng-template #noPool>
            <span>...</span>
          </ng-template>
        </div> -->
      </div>
    </div>

    <div class="swap-details" *ngIf="poolType === 'notMember'">
      <div class="flex justify-between">
        <span class="tx-detail-label">Average 24H Volume:</span>
        <span *ngIf="pooledRune !== undefined && pooledRune !== null">{{pooledRune | number: '0.0-2'}} {{currency.code}}</span>
        <span *ngIf="pooledRune === undefined || pooledRune === null">...</span>
      </div>
      <div class="flex justify-between">
        <span class="tx-detail-label">Depth:</span>
        <span *ngIf="pooledAsset">{{pooledAsset | number: '0.0-2'}} {{currency.code}}</span>
        <span *ngIf="!pooledAsset">...</span>
      </div>
    </div>

    <div class="bottom-actions two-btn">
      <div class="left-btn">
        <button class="next-btn"
          [disabled]="!user || loading"
          (click)="getAccountPools()"
        >
          <span>Refresh</span>
        </button>
      </div>
      <div class="divider"></div>
      <div class="right-btn">
        <a 
          [ngClass]="{'disabled': !user || loading || userPoolError || depositsDisabled || (createablePools && createablePools.length == 0)}" 
          [routerLink]="['/', 'create-pool']" 
          [queryParams]="{pool: createablePools ? createablePools[0] : ''}" 
          class="next-btn graident-btn"
        >
          <span>Create a new pool</span>
        </a>
      </div>
    </div>

  </div>
</div>
